/* flex */
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* grid */
div {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* transform */
.parent{
  position: relative;
}
.child{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* table */
.center{
  display: table;
}
span{
  display: table-cell;
  text-align: center;
  vertical-align: center;
}